@import 'login-form';
@import 'header';

body {
  text-align: center;
  font-family: 'Noto Sans TC', sans-serif;
}

.login-image {
  background-image: url('/images/tropical-ocean-huts.jpg');
}

button {
  display: block;
}
